# Python
__pycache__/
*.pyc

# Environments
.env
.env.*
venv/
.venv/

# Logs / outputs
*.log
outputs/
checkpoints/
results/

# Data to ignore
RAG/datasets/
RAG/retrieval_data/
RAG/query_data/

# Model Weights
*.safetensors
*.bin
*.pt
*.ckpt

# Model Folder
retreiver_training/model_weights/
retreiver_training/retrieval_data/

# Hugging Face Login Token:
token.env

# Cluster / Slurm
slurm-*.out
slurm/
